<!DOCTYPE html>
<html lang="en">
{% extends 'index2.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">CATEGORIES</h4>
                  <p class="card-description">
                    Add categories
                  </p>
                  <form class="forms-sample" method="post" action="{% url 'updatevehicle' updateid=data.id %}" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="form-group">
                      <label>Vehicle Name</label>
                      <input type="text" class="form-control" id="1" placeholder="Vehicle Name" name="vname" value="{{data.VehicleName}}">
                    </div>
                    <div class="form-group">
                      <label>Brand Name</label>
                      <input type="text" class="form-control" id="2" placeholder="Brand Name" name="bname" value="{{data.BrandName}}">
                    </div>
                    <div class="form-group">
                      <label>Engine Capacity</label>
                      <input type="text" class="form-control" id="3" placeholder="Engine Capacity" name="engcap" value="{{data.Enginecapacity}}">
                    </div>

                    <div class="form-group">
                      <label>Mileage</label>
                      <input type="text" class="form-control" id="4" placeholder="Mileage" name="mile" value="{{data.Mileage}}">
                    </div>

                    <div class="form-group">
                      <label>Fuel Capacity</label>
                      <input type="text" class="form-control" id="5" placeholder="Fuel Capacity" name="fucap" value="{{data.Fuelcapacity}}">
                    </div>

                    <div class="form-group">
                      <label>Max Power</label>
                      <input type="text" class="form-control" id="6" placeholder="Max Power" name="mpower" value="{{data.Maxpower}}">
                    </div>

                      <div class="form-group">
                         <label>Vehicle Type</label>
                        <select class="form-control" name="vtype">
                            <option>{{data.VehicleType}}</option>
                        </select>
                    </div>




                    <div class="form-group">
                      <label>Price</label>
                      <input type="text" class="form-control" id="7" placeholder="Price" name="price" value="{{data.VehiclePrice}}">
                    </div>
                   <div class="form-group">
                       <label>Vehicle Image</label>
                       <img src="{{data.VehicleImage.url}}" width="100px" height="100px">
                       <input class="form-control" type="file" id="" multiple="" name="image">
                   </div>
                    <button type="submit" class="btn btn-primary me-2">Update</button>
<!--                    <button class="btn btn-light">Cancel</button>-->
                  </form>
                </div>
              </div>
            </div>

</body>
</html>
{% endblock %}